.productCard{
    border: .1em solid blueviolet;
    border-radius: 20px;
    width: 25em;
    display: flex;
    flex-direction: column;
    padding: 1em 2em ;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    img{
        max-width: 100%;
        height: 200px;
    }
    h1{
        font-size: 2em;
        text-align: center;
    }
    button{
        padding: .2em .4em;
        font-size: 2em;
        background: blueviolet;
        border-radius: .3em;
        border: none;
        color: #fff;
    }
}