div{
    h1{

    }
    p{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: blueviolet;
        font-size: 20px;
        width: 200px;
    }
    h2{
        color: rebeccapurple;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}