.container{
    div{

        .title{
            border-left: 4px solid white;
            color: white;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            
        }
        p{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            letter-spacing: 1px;
            font-size: 20px;
            width: 400px;
            color: white;
        }
    }
}