
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: blueviolet;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      input {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid gray;
        font-size: 1rem;
        width: 300px;
      }
    }

    button {
      background-color: blueviolet;
      color: white;
      border-radius: 5px;
      border: none;
      padding: 10px;
      font-size: 1rem;
      width: 300px;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: darken(blueviolet, 10%);
      }
    }
  }
